<footer class="page-footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="content">
                    <p>
                        <small>
                            <span>Powered by</span>
                            <a target="_blank" href="https://github.com/VojislavM/vojislavm.github.io">github</a>
                            <span> with </span>
                            <a>&#128151;</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>